h1 {
    opacity: 0.5;
    color: red;

}

h2 {
    color: orange;
    opacity: 0.5;
}

h3 {
    color: yellow;
    opacity: 0.5
}

h4 {
    color: green;
    opacity: 0.5;
}

h5 {
    color: blue;
    opacity: 0.5;
}

h6 {
    color: indigo;
    opacity: 0.5;
}


p {
    color: #800080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}